@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

$neon-green:#a4ffaf;
$container-color:rgb(54, 54, 54);

*{
    -webkit-appearance: none;
    font-family: 'JetBrains Mono', monospace;
    color: rgb(195, 195, 195);
    box-sizing: border-box;
    
}

.App{
    background-color: #18171b;
    height: 100vh;
    width: 100vw;
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h4{
            color: grey;
            font-weight: bold;
            text-align: center;
            font-size: 1.4rem;
        }
        .PasswordPut{
            background-color: $container-color;
            position: relative;
            width: 420px;
            height: 50px;
            padding:5px 10px;
            input{
                height: 100%;
                width: 95%;
                outline: none;
                border: none;
                background-color: $container-color;
                color: white;
                font-size: 1.3rem;
            }
            .input-icon{
                position: absolute;
                right: 15px;
                top:25%
            }
        }

        &-body{
            background-color: $container-color;
            height: 500px;
            width: 420px;
            .bar{
                display: flex;
                flex-direction: column;
                padding: 5px 0 0 0;
                margin: 10px 5%;
                padding-top: 25px;
                .lenght{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span:first-child{
                        color: white;
                        font-size: 1.1rem;
                    }
                    span:last-child{
                        color:$neon-green;
                        font-weight: 600;
                        font-size: 1.3rem;
                    }
                }
                .slider{
                    position: relative;
                    .range{
                        width: 100%;
                        cursor: pointer;
                        margin-top: 15px;
                        &::-webkit-slider-runnable-track{
                            -webkit-appearance: none;
                            appearance: none;     
                            width: 50%;
                            height: 8px;
                            cursor: pointer;
                            background:  #18171b;
                                                             
                        }
                        &::-webkit-progress-bar{
                            
                            height: 15px;
                            border-radius: 15px;
                            
                        } 
                        
                        &::-webkit-slider-thumb{
                            height: 25px;
                            width: 25px;
                            margin-top: -8px;
                            margin-left: -1px; 
                            appearance: none;
                            -webkit-appearance: none;
                            background-color: rgb(110, 131, 131, 1);
                            border-radius: 50%;
                            cursor: pointer;
                            opacity: 1;
                            z-index: 2;
                            position: relative;
                            &:hover{
                                background-color: $container-color;
                                border:2px solid  $neon-green;
                                opacity: 1;
                            }
                            
                        }
                    }
                }
            }
            .checkboxes{
                margin: 20px 10px;

                .checkbox{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    &:hover input{
                        border: 2px solid $neon-green;
                    }
                    input{
                        margin-right: 10px;
                        appearance: none;
                        background-color: transparent;
                        border: 2px solid white;
                        width: 20px;
                        height: 20px;
                        outline: none;
                        transition: background-color 0.2s ease-in-out;                        
                        cursor: pointer;
                        
                        &:hover{
                            border: 2px solid $neon-green;
                        }
                        &:checked{
                          background-position: center;
                            background-image: url("./images/check-alt-svgrepo-com.svg") ;
                            background-repeat: no-repeat;
                            background-color: $neon-green;
                            border: 2px solid $neon-green;
                            &::after{
                            content: "";
                            border: none;
                            position: absolute;
                            background-repeat: no-repeat;
                            background-image: url("./images/check-alt-svgrepo-com.svg");
                            
                            }
                        }  
                    }                    
                }
            }
            .bar-container{
                background-color: #18171b;
                width: 95%;
                margin: 20px 10px;
                height: 70px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
            .generate-button{
                width: 95%;
                padding: 20px 10px;
                margin: 20px 10px;
                background-color: $neon-green;
                border: none;
                font-size: 1.1rem;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $container-color;
                fill:$container-color;
                &:hover{
                    border: 1px solid black;
                    background-color: $container-color;
                    border-color: $neon-green;
                    color: $neon-green;
                    
                }
                &:hover .generate-icon{
                    fill: $neon-green;
                }
                .generate-icon{
                    margin-left: 15px;
                    margin-top:-1px;
                    fill:$container-color;
                             
                }
            }
                
        }
    }
}
